doctype html
html
    head
        title 테스트

    body
        h1 test

        script(src="http://localhost")
        script.
            var datas = getRecommendation('item');
            // datas = ['item1', 'item2', 'item3']
            alert(datas);